{% extends "customers/base.html" %}
{% block content %}
{% include "customers/nav.html" %}

<section class="bg-white py-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    <!-- PAGE TITLE -->
    <h1 class="text-4xl font-bold text-blue-900 mb-8">
      How Our Platform Works
    </h1>

    <!-- GENERAL TERMS -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        General Terms of Services
      </h2>

      <p class="text-gray-800 mb-4">
        We get information from Service Providers, and we can’t guarantee that everything is accurate – but when providing our Platform, we take reasonable care and act with professional diligence. Unless we’ve failed to do so or have been negligent, we can’t be held responsible for any errors, interruptions, or missing bits of information. Of course, we’ll do everything we can to correct/fix them as soon as we become aware.
      </p>

      <p class="text-gray-800 mb-4">
        Our Platform is not a recommendation or endorsement of any Service Provider or its products, services, facilities, vehicles, etc.
      </p>

      <p class="text-gray-800 mb-4">
        We’re not a party to the terms between you and the Service Provider. The Service Provider is solely responsible for the Travel Experience.
      </p>

      <p class="text-gray-800 mb-4">
        To make a booking, you may need to create an Account. Unless otherwise indicated, you must be at least 18 to use the Platform. Make sure all your info (including payment and contact details) is correct and up to date, or you might not be able to access your Travel Experience. You’re responsible for anything that happens with your Account, so don’t let anyone else use it and keep your username and password secret.
      </p>

      <p class="text-gray-800 mb-4">
        We’ll show you the offers available to you in (what we think is) the right language for you. You can change to another language either English or Swahili whenever you like.
      </p>

      <p class="text-gray-800 mb-4">
        Staystz promises our customers that the homes available on our platform are of high quality and sufficiently safe, we will not be willing to provide fake information for any building, whether for rental or for guests, to attract customers.
      </p>

      <p class="text-gray-800 mb-4">
        When looking for a home to live in, make sure you carefully look at the pictures and descriptions of the home in question to reduce the hassle of visiting multiple homes in one day. It should be noted that the maximum number of home visits is only three per day.
      </p>

      <p class="text-gray-800 mb-4">
        When something goes wrong, we may help you communicate with your Service Provider, but that doesn’t mean we’re taking responsibility for the Travel Experience or anything the Service Provider does/doesn’t do. We can’t guarantee that they will read anything from you or that they’ll do what you ask. In itself, the fact that you contact them or they contact you doesn’t mean you have any grounds for legal action. If you need help, be sure to contact us via Stays Call Center, our Help Center and emails.
      </p>

      <p class="text-gray-800 mb-4">
        Just to make it clear, we’re not responsible or liable for any picture uploaded to our Platform, and we’re allowed to remove any picture at our discretion (e.g. if we detect that a picture does not meet the criteria).
      </p>
    </div>

    <!-- STAYS PAYMENTS -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Stays Payments
      </h2>

      <p class="text-gray-800 mb-3">
        1. For some products/services, the Service Provider will require an upfront payment and/or payment during your Travel Experience.
      </p>
      <p class="text-gray-800 mb-3">
        • If we organize your payment, we (or, in some cases, our affiliate) will be responsible for managing it and ensuring the completion of your transaction with our Service Provider. In this case, your payment constitutes the final settlement of the “due and payable” price.
      </p>
      <p class="text-gray-800 mb-3">
        • If the Service Provider charges you, this will usually be in person at the start of your Travel Experience, but it could also be, for example, that your credit card is charged when you book or you pay when you check out of your Accommodation. This depends on the Service Provider's upfront payment policy, as communicated to you in the booking process.
      </p>

      <p class="text-gray-800 mb-3">
        2. If the Service Provider requires an upfront payment, it may be taken or pre-authorized when you make your booking, and it may be non-refundable. So, before you book, be sure to check the Service Provider’s upfront payments policy (available during the booking process), which we don’t influence and aren’t responsible for. This does not affect your rights if you have any problems with your Travel Experience – be sure to refer to “What if something goes wrong?”
      </p>

      <p class="text-gray-800 mb-3">
        3. If your payment method is denominated in a currency* different from the payment currency, your bank or payment method provider (or their payment service providers) may charge you additional fees. For example, this could happen if your credit card is in euros, but your hotel is charging you in dollars. If this is going to happen, we’ll inform you during the booking process.
      </p>

      <p class="text-gray-800 mb-3">
        * This refers to the default currency of your payment method.
      </p>

      <p class="text-gray-800 mb-3">
        4. If you know of or suspect any fraudulent behavior or unauthorized use of your Payment Method, be sure to contact your payment provider as soon as possible.
      </p>

      <p class="text-gray-800 mb-3">
        5. If the currency selected on the Platform isn’t the same as the Service Provider’s currency, we may:
      </p>
      <p class="text-gray-800 mb-3">
        • show prices in your own currency<br>
        • Offer you the Pay in Your Own Currency option.
      </p>

      <p class="text-gray-800 mb-3">
        6. Pay In Your Own Currency. We (and/or one of our affiliates) may provide you with the ability to pay for your booking in your own currency (your “home currency”), based on your location and/or account setting – and in respect of this service only; we do this as principal, rather than as an agent for the Service Provider. Where you use this service, you agree to the following terms, which are separate from your contract with the Service Provider related to your Travel Experience. The Service Provider is not involved in the provision of the Pay In Your Own Currency service and is not party to the following terms, which do not give you any extra rights under your contract with the Service Provider. If you choose to pay in the Service Provider’s currency, the following terms don’t apply.
      </p>

      <p class="text-gray-800 mb-3">
        • For the avoidance of doubt, when you use Pay In Your Own Currency, we are just enabling you to make payment in your own currency while we ensure that the Service Provider is paid in their local currency. As such, you are not making payment in one currency and receiving another currency.
      </p>

      <p class="text-gray-800 mb-3">
        • If you choose to use Pay In Your Own Currency, all fees and charges from us for use of the Pay In Your Own Currency service either (a) are included in the exchange rate or (b) appear as a separate line item (included in the total price displayed where applicable) during the check-out process.
      </p>

      <p class="text-gray-800 mb-3">
        • The exchange rate is determined when the total payment (or estimated total payment) is displayed during the check-out process. Where applicable, the total price displayed will be the amount charged by us to you. Certain fees and charges that are part of the total price displayed will, however, be collected directly by the Service Provider. We’ll tell you when this is the case during the check-out process.
      </p>

      <p class="text-gray-800 mb-3">
        • If you cancel a reservation within any permitted cancellation period which may apply, we’ll refund you the exact same amount we initially charged you (inclusive of any applicable fees in relation to the Pay in Your Own Currency Service).
      </p>

      <p class="text-gray-800">
        7. After collecting your consent, we will store your payment method details for future transactions.
      </p>
    </div>

  </div>
</section>

<section class="bg-white py-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    

    <!-- INTELLECTUAL PROPERTY RIGHTS -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Intellectual Property Rights
      </h2>

      <p class="text-gray-800 mb-3">
        1. Unless otherwise stated, all rights in our Platform (technology, content, trademarks, look & feel, etc.) are owned by Staystz.com (or its licensors) and by using our Platform you agree to do so for its intended purpose only and respecting the requirements set out in paragraphs A15.2 and A15.3.
      </p>

      <p class="text-gray-800 mb-3">
        2. Whether or not you have a commercial purpose, you’re not allowed to access, monitor, copy, scrape/crawl, download, reproduce, or otherwise use anything on our Platform using any robot, spider, scraper, other automated means, or automated assistants (including, but not limited to, those that operate by interacting with or otherwise making use of your browser, such as AI-powered assistants) for any purpose without the prior, express written permission of Stays.com. For the avoidance of doubt, Stays.com does not authorize the use of automated means or automated assistants (including, but not limited to, those that operate by interacting with or otherwise making use of your browser, such as AI-powered assistants) to make bookings or reservations using anything on our Platform without the prior, express written permission of Staystz.com.
      </p>

      <p class="text-gray-800 mb-3">
        3. We keep a close eye on every visit to our Platform, and we’ll block anyone (and any automated system) we suspect of:
      </p>
      <ul class="list-disc ml-6 mb-3 text-gray-800">
        <li>conducting an unreasonable amount of searches</li>
        <li>using any device or software to gather prices or other information</li>
        <li>doing anything that places undue stress on our Platform</li>
        <li>using automated assistants (including AI-powered assistants) to access the Platform without express permission</li>
      </ul>

      <p class="text-gray-800 mb-3">
        4. By uploading a review/picture to our Platform, you’re confirming that it meets our Content Standards and Guidelines and that:
      </p>
      <ul class="list-disc ml-6 text-gray-800">
        <li>it’s truthful (e.g., you haven’t altered the picture or uploaded one of a different property)</li>
        <li>it doesn’t contain any viruses</li>
        <li>you’re allowed to share it with us</li>
        <li>you own (or are allowed to use) any intellectual property rights that it contains</li>
        <li>we’re allowed to use it on our Platform and for any other commercial purposes (including marketing and advertising), on any media, worldwide—unless you ask us to stop using it</li>
        <li>it doesn’t infringe the privacy rights of other people</li>
        <li>you accept full responsibility for any legal claims against Staystz.com related to it</li>
      </ul>
    </div>

  </div>
</section>
<!-- MEASURES AGAINST UNACCEPTABLE BEHAVIOR -->
<section class="bg-white py-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    <!-- MEASURES AGAINST UNACCEPTABLE BEHAVIOR -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Measures Against Unacceptable Behavior
      </h2>

      <p class="text-gray-800 mb-3">
        1. If you breach these Terms (including our values and our Content standards and guidelines) or fail to comply with applicable laws or regulations, we have the right to:
      </p>
      <ul class="list-disc ml-6 mb-3 text-gray-800">
        <li>stop you making any bookings,</li>
        <li>cancel any bookings you’ve already made,</li>
        <li>stop you using:</li>
        <ul class="list-disc ml-6 text-gray-800">
          <li>our Platform,</li>
          <li>our Customer Service,</li>
          <li>your Account</li>
        </ul>
      </ul>

      <p class="text-gray-800 mb-3">
        2. If we cancel a booking as a result, you may not (depending on the circumstances) be entitled to a refund. We may tell you why we've canceled your booking, unless telling you would (a) contravene applicable laws and/or (b) prevent or obstruct the detection or prevention of fraud or other illegal activities. If you believe we have incorrectly canceled your booking, be sure to contact our Customer Service team.
      </p>

      <p class="text-gray-800 mb-3">
        3. You acknowledge and agree that monetary damages are not an adequate remedy at law for the unauthorized use of automated means or automated assistants (including, but not limited to, those that operate by interacting with or otherwise making use of your browser, such as AI-powered assistants), that such unauthorized use may cause Stays.com irreparable harm, and that Stays.com is entitled to injunctive relief to prohibit such unauthorized use.
      </p>
    </div>

  </div>
</section>

<section class="bg-whitey-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    <!-- CANCELLATION -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Cancellation
      </h2>

      <p class="text-gray-800 mb-3">
        1. In most cases:
      </p>
      <ul class="list-disc ml-6 mb-3 text-gray-800">
        <li>Pre-Booked Private Transportation. You can cancel for free up to 24 hours before your pick-up Time (two hours in some cases – review your confirmation). If you don’t cancel on time, you won’t be entitled to a refund.</li>
      </ul>

      <p class="text-gray-800 mb-3">
        2. If your Service Provider or Third-Party Aggregator has a different cancellation policy (which you’ll review while booking), their policy will apply instead.
      </p>

      <p class="text-gray-800 mb-3">
        3. We and/or the Service Provider may cancel the booking with little or no notice, but this would only happen in very specific situations. For example, if:
      </p>
      <ul class="list-disc ml-6 mb-3 text-gray-800">
        <li>The Service Provider becomes insolvent or is genuinely unable to honor your booking – in which case we'll do our best to arrange alternative transportation (and we'll refund you in full if we can't)</li>
        <li>You are in breach of these Terms and/or the Service Provider’s terms, in which case you may not be entitled to a refund.</li>
      </ul>

      <p class="text-gray-800 mb-3">
        4. Where multiple tickets have been purchased for Shared Pre-Booked Private Transportation, if you cancel, all tickets will be canceled.
      </p>
    </div>

  </div>
</section>


<section class="bg-white py-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    <!-- AMENDMENTS BEFORE YOUR JOURNEY BEGINS -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Amendments (changes) before your Journey begins
      </h2>

      <p class="text-gray-800 mb-3">
        1. Pre-Booked Private Transportation. Your confirmation email will tell you how much notice you need to give (ahead of your pick-up Time) to request any changes to your booking (such as location or time).
      </p>

      <p class="text-gray-800 mb-3">
        2. If we/the Service Provider need to change your booking (for example, if there’s a strike that interferes with your journey), we’ll tell you as soon as we can. If you then decide to cancel:
      </p>
      <ul class="list-disc ml-6 mb-3 text-gray-800">
        <li>Any Transportation. Unless you cancel for one of the reasons in the next bullet, you’ll be entitled to a full refund (no matter how close your journey is).</li>
        <li>Any Private Transportation. If the change is just a new driver, a new Service Provider, or a new (similar) vehicle, you won’t be entitled to a refund (unless you’re canceling with enough notice).</li>
      </ul>

      <p class="text-gray-800 mb-3">
        Either way, neither we nor the Service Provider will be liable for any costs you may incur (e.g. alternative transportation, hotel rooms).
      </p>

      <p class="text-gray-800 mb-3">
        3. Where multiple tickets have been purchased for Shared Pre-Booked Private Transportation, if you amend the booking, all tickets will be amended.
      </p>
    </div>

  </div>
</section>

<section class="bg-white py-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    <!-- REFUNDS -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Refunds
      </h2>

      <p class="text-gray-800 mb-3">
        1. If you wish to apply for a refund, you must do so in writing no more than 14 days after your pick-up Time.
      </p>

      <p class="text-gray-800 mb-3">
        2. Any refund may take up to five business days to arrive in your account.
      </p>

      <p class="text-gray-800 mb-3">
        3. All Private Transportation. If your driver isn’t at the pick-up location on time, you can apply for a refund, and we’ll investigate this for you.
      </p>

      <p class="text-gray-800 mb-3">
        4. All Private Transportation. You won't be entitled to a refund if your ride doesn't go ahead as planned because:
      </p>
      <ul class="list-disc ml-6 text-gray-800">
        <li>the driver/Service Provider can't contact you</li>
        <li>one or more passengers aren't at the pick-up location on time, and you haven’t requested a new pick-up Time</li>
        <li>you request unreasonable changes to the pick-up Time or Journey</li>
        <li>you don’t tell us/the Service Provider/the driver about a change you want to make</li>
        <li>you provided incorrect details when booking your Private Transportation (pick-up location, contact details, number of people, amount of luggage, etc.)</li>
      </ul>
    </div>

  </div>
</section>


<section class="bg-white py-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    <!-- LIMITATION OF LIABILITY -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Limitation of Liability
      </h2>

      <p class="text-gray-800 mb-3">
        1. Nothing in these Terms will limit our (or the Service Provider’s) liability (i) when we (or they) were negligent and this led to death or personal injury; (ii) in case of fraud or fraudulent misrepresentation; (iii) in respect of gross negligence or willful misconduct; or (iv) if such liability can otherwise not lawfully be limited or excluded.
      </p>

      <p class="text-gray-800 mb-3">
        2. If you are in breach of these Terms and/or the Service Provider’s terms, we won’t be liable for any costs you incur as a result.
      </p>

      <p class="text-gray-800 mb-3">
        3. We are not liable for:
      </p>
      <ul class="list-disc ml-6 text-gray-800 mb-3">
        <li>any losses or damages which were not reasonably foreseeable when you made your booking or otherwise entered into these Terms; or</li>
        <li>any event which was reasonably beyond our control, mistake in an email address, phone number, or credit card number (unless it’s our fault).</li>
      </ul>

      <p class="text-gray-800 mb-3">
        4. We make no promises about the Service Provider’s products and services other than those expressly stated in these Terms.
      </p>

      <p class="text-gray-800 mb-3">
        5. To the extent permitted by law, the most that we (or any Service Provider) will be liable for (whether for one event or a series of connected events) is your reasonably foreseeable losses or damages in connection to your Booking.
      </p>

      <p class="text-gray-800">
        6. Just to be clear, these Terms are between you and us. Nothing in these Terms will entitle any third party other than the Service Provider to anything.
      </p>
      <p class="text-gray-800">
        7. You may be protected by mandatory consumer protection laws and regulations, which guarantee you rights that no company’s terms can overrule. If there is any inconsistency between those laws and regulations and these Terms, such mandatory consumer protection laws and regulations will override.
      </p>
    </div>

  </div>
</section>

<section class="bg-white py-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    <!-- CONTRACTUAL RELATIONSHIP -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Contractual Relationship
      </h2>

      <p class="text-gray-800 mb-3">
        1. When you make (or request) a booking, it’s directly with the Service Provider – we’re not a “contractual party.”
      </p>

      <p class="text-gray-800 mb-3">
        2. Our Platform only shows Accommodations that have a commercial relationship with us (in some cases, through a partner company or with our Connectivity Providers, and it doesn’t necessarily show all their products or services).
      </p>

      <p class="text-gray-800">
        3. Information about Service Providers (e.g. facilities, house rules, sustainability measures) and their Travel Experiences (e.g. prices, availability, and cancellation policies) is based on what they provide to us.
      </p>
    </div>

  </div>
</section>

<section class="bg-white py-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    <!-- OUR RESPONSIBILITY -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Our Responsibility
      </h2>

      <p class="text-gray-800 mb-3">
        1. We provide the Platform on which Service Providers can promote and sell their Accommodations, and you can search for, compare, and book them. We offer a personalized experience based on how you use our Platform (including what you tell us) so you can book your ideal Accommodation with us. Our Platform allows you to discover Accommodations all over the world, and our search results make it easy to find the one that’s right for you.
      </p>

      <p class="text-gray-800 mb-3">
        2. Once you’ve booked your Accommodation, we confirm the details of your booking to both you and the Service Provider, including the names of the guest.
      </p>

      <p class="text-gray-800">
        3. Depending on the terms of your booking, you may be able to change or cancel it if you want. Contact us using the Help Center (available 24 hours a day) if you need help with anything.
      </p>
    </div>

  </div>
</section>

<section class="bg-white py-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    <!-- YOUR RESPONSIBILITY -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Your Responsibility
      </h2>

      <p class="text-gray-800 mb-3">
        1. Fill in all your contact details correctly so we and/or the Service Provider can provide you with information about your booking and, if necessary, contact you.
      </p>

      <p class="text-gray-800 mb-3">
        2. Read these Terms and the terms displayed during the booking process carefully.
      </p>

      <p class="text-gray-800 mb-3">
        3. Take care of the Accommodation and its furniture, fixtures, electronics, and other contents, and leave things in the same state they were in when you got there. If anything is broken, damaged, or lost, make sure you report it to the staff there as soon as you can, before you check out.
      </p>

      <p class="text-gray-800">
        4. Maintain the security of the Accommodation and its contents during your stay. So, for example, don’t leave doors or windows unlocked.
      </p>
    </div>

  </div>
</section>

<section class="bg-white py-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    <!-- WE PRICE MATCH -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        We Price Match
      </h2>

      <p class="text-gray-800 mb-3">
        1. We want you to get the best possible price every time. If, after you’ve booked your Accommodation with us, you find the same Accommodation (with the same conditions) for less on another website, we promise to refund the difference. Just remember to contact us after booking with us. If you file your We Price Match claim via email, you'll need to provide us with a screenshot and a link to the other offer. You can also file a We Price Match claim directly on the phone by reaching out to our Customer Service. In any case, the other offer must be online and available when we check.
      </p>

      <p class="text-gray-800 mb-3">
        We Price Match checklist:
      </p>
      <ul class="list-disc ml-6 mb-3 text-gray-800">
        <li>The other offer must be for the same property and accommodation type.</li>
        <li>The other offer must be for the same check-in and check-out dates.</li>
        <li>The other offer must have the same cancellation policy and conditions.</li>
        <li>The other offer must be for the same number of occupants.</li>
        <li>The other offer must have the same add-on/meal plan.</li>
        <li>The better deal must be in the local currency of the property.</li>
      </ul>

      <p class="text-gray-800 mb-3">
        When can’t you make a claim?
      </p>
      <ul class="list-disc ml-6 text-gray-800">
        <li>If the other offer is on a website that doesn’t reveal the property or accommodation type you’ll be staying in until after booking.</li>
        <li>If the other offer is available on an opaque, suspicious, and/or likely-to-be-fraudulent website.</li>
        <li>If the other offer is part of a loyalty or rewards program, where the price is reduced by the property or website for actions like repeat business, logging in, using a coupon code, referring others, or any other action that reduces the original price.</li>
        <li>If you cancel your booking.</li>
        <li>If you book a single-unit property, which by nature can’t be available elsewhere.</li>
        <li>Booking.com reserves the right to make the sole determination regarding a customer's eligibility to receive the price match.</li>
      </ul>
    </div>

  </div>
</section>


<section class="bg-white py-10">
  <div class="max-w-6xl mx-auto px-4 text-lg leading-relaxed">

    <!-- DAMAGE POLICY -->
    <div class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">
        Damage Policy
      </h2>

      <p class="text-gray-800 mb-3">
        5. When you’re booking, you may find that some Service Providers refer to a “damage policy.” This means that if anyone in your group loses or damages anything:
      </p>
      <ul class="list-disc ml-6 mb-3 text-gray-800">
        <li>you should inform the Service Provider</li>
        <li>instead of charging you for it directly, the Service Provider will have 14 days to submit a damage payment request through our Platform under your reservation number</li>
        <li>if they do, we’ll tell you so you can tell us if you have any comments and whether or not you agree with the charge – and then:</li>
        <li>if you agree, we’ll charge you on their behalf</li>
        <li>if you disagree, we’ll look into it, and if we consider that there is cause for further investigation, we will contact you to discuss the next steps.</li>
      </ul>

      <p class="text-gray-800 mb-3">
        6. Under the damage policy, there’s a limit to how much a Service Provider can charge you through our Platform (the limit is displayed while you’re booking). However, the Service Provider can start a legal claim against you outside of the damage policy, in which case the limit doesn’t apply.
      </p>

      <p class="text-gray-800 mb-3">
        7. Any payment you make would be between the Service Provider and you. We’d just be organizing it on the Service Provider’s behalf.
      </p>

      <p class="text-gray-800 mb-3">
        8. The damage policy doesn’t relate to general cleaning, ordinary wear and tear, any crimes (such as theft), or any non-physical “damages” (e.g., fines for smoking or bringing pets).
      </p>

      <p class="text-gray-800">
        9. The Service Provider might require a “damage deposit” before or at check-in. If they do, we’ll tell you about it while you’re booking – but it has nothing to do with the “damage policy.” We won’t be involved in any financial settlement related to damage deposits.
      </p>
    </div>

  </div>
</section>


{% include "customer/footer.html" %}


{% endblock %}