{% load static %}

<div class="container-fluid py-5" style="background-color: #174376;">
    <div class="container">
        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(255, 255, 255, 0.3);">
            <div class="row g-5 align-items-center">
                
                <!-- Image -->
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid rounded w-100" src="{% static 'customer/img/property-1.jpg' %}" alt="Certified Agent">
                </div>

                <!-- Text Content -->
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="mb-4 text-white">
                        <h1 class="mb-3" style="color: black;">Connect With Our Certified Agents</h1>
                        <p style="color: black;">Our team of experienced real estate agents is here to help you find the perfect property. Whether buying, selling, or renting, we provide professional guidance and personalized service to make your experience seamless and stress-free.</p>
                    </div>
                    <a href="tel:+1234567890" class="btn btn-primary py-3 px-4 me-2">
                        <i class="fa fa-phone-alt me-2"></i>Make A Call
                    </a>
                    <a href="#" class="btn btn-dark py-3 px-4">
                        <i class="fa fa-calendar-alt me-2"></i>Get Appointment
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
