{% load static %}
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
               <img class="img-fluid" src="{% static 'customer/img/logo.png' %}" alt="Icon" style="width: 80px; height: 40px;">
            </div>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <a href="{%url 'about' %}" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">RESIDENCE</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{% url 'residence_properties_type' 'apartment' %}" class="dropdown-item">Apartment</a>
                            <a href="{% url 'residence_properties_type' 'house' %}" class="dropdown-item">Houses</a>
                            <a href="{% url 'residence_properties_type' 'frame' %}" class="dropdown-item">Frames</a>
                        </div>
                    </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">BOOKING</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="{% url 'booking_properties' 'hotel' %}" class="dropdown-item">Hotels</a>
                        <a href="{% url 'booking_properties' 'lodge' %}" class="dropdown-item">Lodge</a>
                        <a href="{% url 'booking_properties' 'guest_house' %}" class="dropdown-item">Guest House</a>
                        <a href="{% url 'booking_properties' 'tent or campsite' %}" class="dropdown-item">Tent/Camp Site</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">CAR RENTAL</a>
    <div class="dropdown-menu rounded-0 m-0">
        <a href="{% url 'car_rental_list_by_type' 'shuffle' %}" class="dropdown-item">Shuffles</a>
        <a href="{% url 'car_rental_list_by_type' 'moving_logistic' %}" class="dropdown-item">Moving Logistic</a>
        <a href="{% url 'car_rental_list_by_type' 'piki_piki_bajaji' %}" class="dropdown-item">Piki Piki/Bajaji</a>
    </div>
</div>


                {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="color: oklab(79.399% 0.05169 0.16052);">{{request.user.first_name}} {{request.user.last_name}}</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="{%url 'change_password' %}" class="dropdown-item">Change Password</a>
                        <a href="{%url 'user_profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{%url 'my_bookings' %}" class="dropdown-item">My Bookings</a>
                         <a href="{% url 'logout' %}" class="btn btn-primary px-3 d-flex">Logout</a>
                    </div>
                </div>
                
                {% endif %}

                
            </div>
            
           
           

            {% if not user.is_authenticated %}
            <a href="{% url 'register' %}" class="btn btn-primary px-3 d-flex">Sign Up</a>
            {% endif %}
            
        </div>
    </nav>
</div>
