{% load static %}

<section class="bg-white py-10">
<div class="max-w-7xl mx-auto px-4">

<!-- Section Title -->
<!-- Section Title -->
<div class="mb-10 max-w-2xl">

    <h3 class="text-xl md:text-2xl font-semibold mb-8">Our Pupular Cities</h3>




</div>


<!-- Top Cities -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

<!-- Dar -->
<a href="{% url 'city_search' 'Dar es Salaam' %}">
<div class="relative rounded-xl overflow-hidden">
<img src="{% static 'customer/img/dar.jpeg' %}" class="w-full h-72 md:h-80 object-cover">

<div class="absolute top-4 left-4  text-white px-4 py-2 rounded-md text-base font-semibold">
<i class="fa-solid fa-location-dot mr-2"></i>Dar es Salaam
</div>
</div>
</a>


<!-- Arusha -->
<a href="{% url 'city_search' 'Arusha' %}">
<div class="relative rounded-xl overflow-hidden">
<img src="{% static 'customer/img/arusha.jpeg' %}" class="w-full h-72 md:h-80 object-cover">

<div class="absolute top-4 left-4 text-white px-4 py-2 rounded-md text-base font-semibold">
<i class="fa-solid fa-location-dot mr-2"></i>Arusha
</div>
</div>
</a>

</div>



<!-- Other Cities -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">

<!-- Mwanza -->
<a href="{% url 'city_search' 'Mwanza' %}">
<div class="relative rounded-xl overflow-hidden">
<img src="{% static 'customer/img/mwanza.jpeg' %}" class="w-full h-60 object-cover">

<div class="absolute top-4 left-4 text-white px-4 py-2 rounded-md text-base font-semibold">
<i class="fa-solid fa-location-dot mr-2"></i>Mwanza
</div>
</div>
</a>


<!-- Dodoma -->
<a href="{% url 'city_search' 'Dodoma' %}">
<div class="relative rounded-xl overflow-hidden">
<img src="{% static 'customer/img/dodoma.jpeg' %}" class="w-full h-60 object-cover">

<div class="absolute top-4 left-4 text-white px-4 py-2 rounded-md text-base font-semibold">
<i class="fa-solid fa-location-dot mr-2"></i>Dodoma
</div>
</div>
</a>


<!-- Mbeya -->
<a href="{% url 'city_search' 'Mbeya' %}">
<div class="relative rounded-xl overflow-hidden">
<img src="{% static 'customer/img/mbeya.jpeg' %}" class="w-full h-60 object-cover">

<div class="absolute top-4 left-4  text-white px-4 py-2 rounded-md text-base font-semibold">
<i class="fa-solid fa-location-dot mr-2"></i>Mbeya
</div>
</div>
</a>


<!-- Zanzibar -->
<a href="{% url 'city_search' 'Zanzibar' %}">
<div class="relative rounded-xl overflow-hidden">
<img src="{% static 'customer/img/zanzibar.jpeg' %}" class="w-full h-60 object-cover">

<div class="absolute top-4 left-4 text-white px-4 py-2 rounded-md text-base font-semibold">
<i class="fa-solid fa-location-dot mr-2"></i>Zanzibar
</div>
</div>
</a>

</div>

</div>
</section>

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">