{% load static %}

<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="{%url 'index' %}" class="logo">
        <img src="{% static 'customer/img/logo.png' %}" alt="navbar brand" class="navbar-brand" height="30" />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="fas fa-angle-double-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="fas fa-ellipsis-v"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>

  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">

        <!-- Section -->
        <li class="nav-section">
          <span class="sidebar-mini-icon"><i class="fas fa-ellipsis-h"></i></span>
          <h4 class="text-section">Components</h4>
        </li>

        <!-- Home -->
        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="flex items-center gap-2 text-gray-700 hover:text-blue-600">
             <img src="{% static 'customer/rese.png' %}" alt="Manage Car Rental" height="20" />
            <span>Home</span>
          </a>
        </li>



        <!-- Manage Bookings -->
        <li class="nav-item">
          <a href="{% url 'my_properties' %}">
             <img src="{% static 'customer/bedro.png' %}" alt="Manage Car Rental" height="20" />
            <p>Manage Bookings</p>
          </a>
        </li>



        <!-- Manage Residence -->
        <li class="nav-item">
          <a href="{% url 'my_residence_properties' %}">
              <img src="{% static 'customer/rese.png' %}" alt="Manage Car Rental" height="20" />
            <p>Manage Residence</p>
          </a>
        </li>



        <!-- Manage Car Rental -->
        <li class="nav-item">
          <a href="{% url 'my_car_rentals' %}">
              <img src="{% static 'customer/cars.png' %}" alt="Manage Car Rental" height="20" />
            <p>Manage Car Rental</p>
          </a>
        </li>

        <!-- Bookings -->
        <li class="nav-item">
          <a href="{% url 'owner_bookings' %}">
              <img src="{% static 'customer/bok.web' %}" alt="Manage Car Rental" height="20" />
            <p>Bookings</p>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>


